@model RentCar.Models.CarPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaTheoGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaTheoGio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaTheoNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaTheoNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaTheoLoTrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaTheoLoTrinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
